<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mediciones del sensor {{dispId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Temperatura</th>
      <th>Magnetico</th>
      <th>Giroscopio</th>
      <th>Aceleracion</th>
      <th>Valvula</th>
    </tr>
    <tr *ngFor="let m of Mediciones">
      <td>{{m.ID}}</td>
      <td>{{m.tiempo | fechaPipe}}</td>
      <td>{{m.temperatura}}</td>
      <td>{{m.magnetico}}</td>
      <td>{{m.giroscopio}}</td>
      <td>{{m.aceleracion}}</td>
      <td  *ngIf="m.valvula == 0" appResaltar>Cerrado</td>
    </tr>
  </table>
</ion-content>